* {
    padding: 25;
    text-align: center;
}

/*Light Theme*/
body[data-theme="light"]{
    --color-1: white;
    --color-2: black;
    --color-3: black;
}

/*Dark Theme*/
body[data-theme="dark"]{
    --color-1: black;
    --color-2: white;
    --color-3: white;
    --color-japa: #4a25a2;
}

body{
    font-family: 'cascadia code', sans-serif;
    background-color: var(--color-1);
    color: var(--color-2);
    text-shadow: 0 0 10px var(--color-3);
}

/*
.dark-mode {
    background-color: white;
    color: black;
    text-shadow: 0 0 10px black;

}
*/
a:link {
    color: blueviolet;
    background-color: transparent;
    text-decoration: none;
    text-shadow: 0 0 15px blueviolet;
}

a:visited {
    color: blueviolet;
    background-color: transparent;
    text-decoration: none;
    text-shadow: 0 0 15px blueviolet;
}

a:hover {
    color: var(--color-japa);
    background-color: transparent;
    text-decoration: underline;
    text-shadow: 0 0 15px blueviolet;

}

a:active {
    color: purple;
    background-color: transparent;
    text-decoration: underline;
}
#back{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: var(--color-japa);
    text-shadow: 0 0 5px;
}

#Japaneixxx {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    color: var(--color-japa);
    text-shadow: 0 0 5px;
}

#theme {
    position: absolute;
    bottom: 0;
    left: 0;
}

p {
    size: 40px;
}
.theme-switcher{
    position: absolute;
    left: 0;
    bottom: -42;
}

input{
    width: 25%;
}

label{
    cursor: pointer;
    display: block;
    text-indent: -35;
    ;
}


/*
label::after{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: palegreen;
    bottom: 50%;
    left: 5px;
}
*/